*{
    margin: 0;
    padding: 0;
    font-family:Proxima Nova ExtraBold,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: white;
}
.cont1{
    background-image: url("https://s.imgur.com/desktop-assets/desktop-assets/homebg.e52b5cdf24f83bcd55f9f1318855f2ef.png");
    height:369;
}
body{
    background-color: rgb(46,48,53);
}
.cont1 *{
    color: white;
}
button{
    cursor: pointer;
    border-radius: 5px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}
.navbar *{
    height:35px
}
.navbar-imgur-logo img{
    height: 60px;
    background:white;
    cursor:pointer;
}
.navbar-newPost button{
    background:rgb(27,183,110);
    color: white;
    border: none;
    display:flex;
    align-items: center;
    justify-content: space-around;
    font-size: 12px;
    width: 100px;
}
.navbar-newPost button span:nth-child(2){
    display: inline-block;
    margin-top: 10px;
}
.navbar-search-bar input{
    background:rgb(69,68,105);
    background-image: url("https://s.imgur.com/desktop-assets/desktop-assets/icon-search.8d0f9b564a4659d48d8eca38b968a7f2.svg");
    background-repeat: no-repeat;
    background-position: 99%;
    padding: 5px 10px;
    background-size: 20px;
    width: 100%;
}
.navbar-search-bar{
    flex-grow: .6;
    align-self: center;
}
.navbar-ad-button button{
    background-color: rgb(100,50,249);
    border:none;
}

.name-logo span{
    display: inline-block;
    margin-top: 5px;
}
.name-logo{
    background-color:rgb(55,209,168);
    width: 40px;
    border-radius: 50%;
    height:35px;
    text-align: center;
}
.cont1-2>p{
    text-align: center;
    font-size:25px;
    padding-top: 20px;
    color:rgb(164,188,186);
    font-weight: 550;
}
.fa-arrow-up{
    color: white;
    font-size:600px;
}
.icons{
    display:flex;
    justify-content: space-around;
}
#items{
    display:flex;
    flex-direction: column;
    max-width:100px;
    /* overflow: hidden; */
    height: 1800px;
    flex-wrap: wrap;
}
#items>div{
    width:240px;
    margin: 5px;
    background:red;
    
}
#items>div img{
    width:100%;
}